<link href="ttps://hybris-products.amway.dobroagency.ru/123776/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="main">
    <div class="about">
        <div class="wrapper">
            <h3 class="title">ПРОГРАММА ВОССТАНОВЛЕНИЯ КОЖИ 14 НОЧЕЙ — НОВЫЙ ИНТЕНСИВНЫЙ УХОД ARTISTRY INTENSIVE SKINCARE™</h3>
            <p class="text">Каждый день в вашей коже происходит более 40 000 повреждений на уровне ДНК только лишь в одной клетке, которые со временем только накапливаются. Так как клетки постоянно экспоненциально делятся (даже те, что уже повреждены), очень важно устранить повреждение в самом источнике, чтобы обеспечить оптимальное здоровье кожи.</p>
        </div>
    </div>

    <div class="main-advantage">
        <p class="main-text"><span class="text-bold">Программа 14 ночей ARTISTRY INTENSIVE SKINCARE™ </span> – быстрый и полноценный способ восстановления и сохранения красоты и здоровья кожи.</p>
    </div>

    <div class="ingredients">
        <div class="wrapper">
            <h3 class="title">Комплекс Phyto 3 Cica Blend:</h3>
            <div class="ingredients__blocks">
                <div class="ingredients__item">
                    <img src="https://hybris-products.amway.dobroagency.ru/123776/ingredients_1.png" alt="" >
                    <p class="text">Центелла Азиатская</p>
                </div>
                <div class="ingredients__item">
                    <img src="https://hybris-products.amway.dobroagency.ru/123776/ingredients_2.png" alt="" >
                    <p class="text">Эхинацея </p>
                </div>
                <div class="ingredients__item">
                    <img src="https://hybris-products.amway.dobroagency.ru/123776/ingredients_3.png" alt="" >
                    <p class="text">Розмарин</p>
                </div>
            </div>
        </div>
    </div>

    <div class="technology">
        <div class="wrapper">
            <h3 class="title">Технология Ультра глубокого ночного действия</h3>
            <p class="text"><span class="text-bold">Новая формула</span> создана на основе технологии нового поколения Ультра глубокого ночного действия, имеющая в основе комплекс Phyto 3 Cica Blend, в состав которого входит уникальное растение Центелла Азиатская. Формула проникает глубоко в вашу кожу и пробуждает клеточные силы кожи пока вы спите.</p>
        </div>
        <div class="formula">
            <img src="https://hybris-products.amway.dobroagency.ru/123776/formula.png" alt="">
            <p class="main-text"><span class="text-bold">Формула средства </span>быстро устраняет повреждения кожи на клеточном уровне, защищая ее и помогая ей эффективно бороться с будущими повреждениями.</p>
        </div>
        <div class="effect">
            <div class="effect__item">
                <div class="effect__img">
                    <img src="https://hybris-products.amway.dobroagency.ru/123776/recover.png">
                </div>
                <p class="effect__title">Восстановление клеток кожи на&nbsp;150%</p>
            </div>
            <div class="effect__item">
                <div class="effect__img">
                    <img src="https://hybris-products.amway.dobroagency.ru/123776/protect.png">
                </div>
                <p class="effect__title">Защита от&nbsp;будущего старения кожи на&nbsp;200%<sup>**</sup></p>
            </div>
        </div>
    </div>

    <div class="skin-recovery">
        <h3 class="title skin-recovery__title">Тотальное восстановление кожи от&nbsp;Artistry<sup>TM</sup> вместе с&nbsp;новой программой восстановления 14 ночей</h3>
        <ul class="skin-recovery__list">
            <li class="skin-recovery__item">
                <h4 class="skin-recovery__subtitle">Разбуди природную силу клетки</h4>
                <p class="skin-recovery__text">Технология ультраглубокого ночного действия, усиленная комлексом с&nbsp;центеллой азиатской Phyto-3 Cica Blend<sup>1</sup> позволяет средству проникать в&nbsp;глубокие слои кожи и&nbsp;пробуждать ее силу на&nbsp;клеточном уровне.</p>
            </li>
            <li class="skin-recovery__item">
                <h4 class="skin-recovery__subtitle">Пока ты спишь</h4>
                <p class="skin-recovery__text">Средство на&nbsp;150%<sup>2</sup> повышает эффективность восстановления существующих повреждений клетки, и&nbsp;на&nbsp;217%<sup>3</sup> увеличивает защиту от&nbsp;новых повреждений<sup>4</sup>.</p>
            </li>
            <li class="skin-recovery__item">
                <h4 class="skin-recovery__subtitle">Повтори</h4>
                <p class="skin-recovery__text">Для&nbsp;оптимально результата и&nbsp;сохранения продолжительного эффекта повторяйте курс каждые 3 месяца. Регулярность использования сохранит красоту и&nbsp;молодость вашей кожи.</p>
            </li>
        </ul>
    </div>

    <div class="result">
        <h3 class="title result__title">Заметный результат всего после 1&nbsp;применения и&nbsp;впечатляющее преображение через 14&nbsp;ночей</h3>
        <img class="result__img" src="https://hybris-products.amway.dobroagency.ru/123776/result.png">
        <div class="result__mobile">
            <ul class="result__list">
                <li class="result__item">
                    <h4 class="result__subtitle">ПОСЛЕ 1-ОЙ НОЧИ:</h4>
                    <p class="result__text">Увлажненная, более гладкая и&nbsp;мягкая кожа засчет создания оптимального защитного барьера.</p>
                </li>
                <li class="result__item">
                    <h4 class="result__subtitle">ЧЕРЕЗ 4 НОЧИ:</h4>
                    <p class="result__text">Заметное улучшение тона кожи и&nbsp;цвета лица.</p>
                </li>
                <li class="result__item">
                    <h4 class="result__subtitle">ЧЕРЕЗ 7 НОЧЕЙ:</h4>
                    <p class="result__text">Значительное увеличение гладкости кожи.</p>
                </li>
                <li class="result__item">
                    <h4 class="result__subtitle">ЧЕРЕЗ 10 НОЧЕЙ:</h4>
                    <p class="result__text">Восстановление упругости кожи.</p>
                </li>
                <li class="result__item">
                    <h4 class="result__subtitle">ЧЕРЕЗ 14 НОЧЕЙ:</h4>
                    <p class="result__text">Значительное выравнивание тона кожи, улучшение однородности кожи и&nbsp;цвета лица, устранение покраснений и&nbsp;раздражений, сокращение мелких и&nbsp;мимических морщин<sup>5</sup>.</p>
                </li>
            </ul>
        </div>
    </div>

    <div class="note">
        <p class="note__item"><sup>1</sup> Фито-3 Цика Блэнд;</p>
        <p class="note__item"><sup>2</sup> Испытания в&nbsp;лабораторных условиях комплекса Phyto-3 Cica Blend на&nbsp;клетках кожи без&nbsp;ухода и&nbsp;с&nbsp;уходом, кожа восстанавливается в&nbsp;глубоких слоях эпидермиса;</p>
        <p class="note__item"><sup>3</sup> Испытания в&nbsp;лабораторных условиях активатора-липосомы в&nbsp;сравнении с&nbsp;исходным состоянием;</p>
        <p class="note__item"><sup>4</sup> На&nbsp;основании исследований, проведенных по&nbsp;заказу компании Амвэй;</p>
        <p class="note__item"><sup>5</sup> Образующихся из-за&nbsp;сухости кожи.</p>
    </div>
</div>

