body {
    margin-left: 0;
    margin-right: 0;
}

.main {
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper {
    max-width: 890px;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px ;

    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: #0D4059;

    margin: 0;
}

.text {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #56565A;

    margin: 0;
}

.main-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;

    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: #FFFFFF;

    margin: 0;
}

.text-bold {
    font-weight: bold;
}

.about h3{
    margin-bottom: 20px;
}

.about p{
    margin-bottom: 40px;
}

.main-advantage {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 320px;
    background: linear-gradient(251.1deg, #E3F6FC -19.22%, #0D4059 87.39%);

    margin-bottom: 90px;
}

.ingredients {
    margin-bottom: 90px;
}

.ingredients h3 {
    margin-bottom: 30px;
}

.ingredients__blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingredients__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #EAEBEC;
    border-radius: 50%;

    width: 272px;
    height: 272px;
}

.ingredients__item img {
    width: 228px;
    height: 168px;
}

.ingredients__item p {
    max-width: 100px;
}

.technology h3 {
    margin-bottom: 20px;
}

.technology p {
    margin-bottom: 40px;
}

.formula {
    display: flex;
    flex-direction: row;

    background: #F2F4FA;
    height: 504px;

    padding: 108px 104px 102px 157px;
    margin-bottom: 90px;
}

.formula img {
    width: 145px;
    height: 294px;
    margin-right: 100px;
}

.formula .main-text {
    color: #0D4059;
    text-align: left;
}
@media all and (max-width: 1199px) {
    .main {
        max-width: 850px;
    }
    .formula {
        height: auto;
        padding: 92px 25px 52px 25px;
    }
    .formula img {
        width: 130px;
        height: 264px;
        margin-right: 50px;
    }
}

@media all and (max-width: 991px) {
    .main {
        max-width: 698px;
    }
    .ingredients__item {
        width: 216px;
        height: 216px;
    }
    .ingredients__item img {
        width: 181px;
        height: 133px;
    }
}

@media all and (max-width: 767px) {
    .main {
        max-width: 530px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    .text {
        font-size: 15px;
        line-height: 20px;
    }
    .about h3 {
        margin-bottom: 10px;
    }
    .about p {
        margin-bottom: 30px;
    }
    .main-advantage {
        margin-bottom: 50px;
        padding: 15px;
    }
    .ingredients {
        margin-bottom: 20px;
    }
    .ingredients h3 {
        margin-bottom: 10px;
    }
    .ingredients__blocks {
        flex-direction: column;
        align-items: center;
    }
    .ingredients__item {
        margin-bottom: 30px;
    }
    .technology h3 {
        margin-bottom: 10px;
    }
    .technology p {
        margin-bottom: 30px;
    }
    .formula {
        flex-direction: column;
        align-items: center;

        height: auto;

        padding: 24px;
        margin-bottom: 50px;
    }
    .main-text {
        font-size: 24px;
        line-height: 34px;
    }
    .formula img {
        width: 103px;
        height: 210px;

        margin-bottom: 38px;
    }
    .title {
        font-size: 24px;
        line-height: 32px;
    }
}

/* effect */
.effect {
    display: flex;
    justify-content: space-between;
}

.effect__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 40px)/2);
    padding-top: 22px;
    padding-bottom: 24px;

    background-color: #EAEBEC;
}

.effect__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.effect__title {
    margin-bottom: 0;
    margin-top: 35px;

    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    text-transform: uppercase;
    color: #0D4059;
}

@media all and (max-width: 1199px) {
    .effect__img img {
        width: 184px;
    }

    .effect__item:last-child .effect__img img {
        width: 190px;
    }

    .effect__item {
        width: calc((100% - 25px)/2);
    }

    .effect__title {
        width: 230px;
    }
}

@media all and (max-width: 767px) {
    .effect {
        flex-direction: column;
    }

    .effect__item {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 20px;
    }

    .effect__item:first-child {
        margin-bottom: 30px;
    }
}

/* skin-recovery */
.skin-recovery {
    margin-top: 90px;
    margin-bottom: 100px;
}

.skin-recovery__title {
    max-width: 724px;
    margin: 0 auto 30px auto;

    text-align: center;
}

.skin-recovery__title sup {
    font-size: 10px;
    line-height: 10px;
    vertical-align: 14px;
}

.skin-recovery__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.skin-recovery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 60px)/3);
}

.skin-recovery__item::before {
    content: "";

    width: 68px;
    height: 68px;
    margin-bottom: 18px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.skin-recovery__item:nth-child(1)::before {
    background-image: url("https://hybris-products.amway.dobroagency.ru/123776/skin-recovery_1.png")
}

.skin-recovery__item:nth-child(2)::before {
    background-image: url("https://hybris-products.amway.dobroagency.ru/123776/skin-recovery_2.png")
}

.skin-recovery__item:nth-child(3)::before {
    background-image: url("https://hybris-products.amway.dobroagency.ru/123776/skin-recovery_3.png")
}

.skin-recovery__subtitle {
    max-width: 190px;
    margin: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.01em;
    color: #0D4059;
}

.skin-recovery__item:nth-child(1) .skin-recovery__subtitle {
    margin-bottom: 6px;
}

.skin-recovery__item:nth-child(2) .skin-recovery__subtitle {
    margin-bottom: 28px;
}

.skin-recovery__item:nth-child(3) .skin-recovery__subtitle {
    margin-bottom: 28px;
}

.skin-recovery__text {
    margin: 0;

    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #0D4059;
}

.skin-recovery__text sup {
    font-size: 10px;
    line-height: 10px;
    vertical-align: 4px;
}

@media all and (max-width: 991px) {
    .skin-recovery {
        margin-bottom: 90px;
    }

    .skin-recovery__list {
        flex-direction: column;
        align-items: center;
    }

    .skin-recovery__item {
        width: 100%;
        max-width: 345px;
        margin-bottom: 40px;
    }

    .skin-recovery__item:last-child {
        margin-bottom: 0;
    }

    .skin-recovery__item:nth-child(2) .skin-recovery__subtitle {
        margin-bottom: 6px;
    }

    .skin-recovery__item:nth-child(3) .skin-recovery__subtitle {
        margin-bottom: 6px;
    }

    .skin-recovery__text {
        font-size: 15px;
    }

    .skin-recovery__subtitle {
        font-size: 15px;
    }
}

@media all and (max-width: 767px) {
    .skin-recovery {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* result */
.result {
    margin-bottom: 60px;
}

.result__img {
    width: 100%;
}

.result__title {
    max-width: 1000px;
    margin-bottom: 60px;
    text-align: center;
}

.result__mobile {
    display: none;
}

@media all and (max-width: 767px) {
    .result {
        margin-bottom: 20px;
    }

    .result__title {
        margin-bottom: 20px;
    }

    .result__img {
        display: none;
    }

    .result__mobile {
        display: block;
    }

    .result__list {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;

        list-style: none;
    }

    .result__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 345px;
        margin-bottom: 30px;
    }

    .result__item::before {
        content: "";

        width: 48px;
        height: 48px;
        margin-bottom: 10px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .result__item:nth-child(1)::before {
        background-image: url("https://hybris-products.amway.dobroagency.ru/123776/calendar_1.png")
    }

    .result__item:nth-child(2)::before {
        background-image: url("https://hybris-products.amway.dobroagency.ru/123776/calendar_2.png")
    }

    .result__item:nth-child(3)::before {
        background-image: url("https://hybris-products.amway.dobroagency.ru/123776/calendar_3.png")
    }

    .result__item:nth-child(4)::before {
        background-image: url("https://hybris-products.amway.dobroagency.ru/123776/calendar_4.png")
    }

    .result__item:nth-child(5)::before {
        background-image: url("https://hybris-products.amway.dobroagency.ru/123776/calendar_5.png")
    }

    .result__subtitle {
        margin: 0;
        margin-bottom: 15px;

        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #56565A;
    }

    .result__text {
        width: 100%;
        margin: 0;

        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        color: #56565A;
    }

    .result__text sup {
        font-size: 10px;
        line-height: 10px;
    }
}

/* note */
.note__item {
    margin: 0;
    margin-bottom: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    color: #56565A;
}

.note__item:last-child {
    margin-bottom: 0;
}

.note__item sup {
    font-size: 12px;
    line-height: 12px;
}
